/******************************************************************************
 *  script.rc
 *
 *  This file is part of Public Scripts
 *  Copyright (C) 2005-2011 Tom N Harris <telliamed@whoopdedo.org>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 *****************************************************************************/
#define SCRIPT_VERSION		1,0,0,0
#define SCRIPT_VERSTRING	"1.0"

#define SCRIPT_NAME			"miss16"
#define SCRIPT_LONGNAME		"Thief 2 miss16 Shim OSM"
#define AUTHOR_NAME			"Xanfrein"

#ifndef WORKSHOP_INVOKED
#include "windows.h"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION		SCRIPT_VERSION
PRODUCTVERSION	SCRIPT_VERSION
#if DEBUG
FILEFLAGS		VS_FF_DEBUG
#else
FILEFLAGS		0
#endif
FILEOS			VOS_NT_WINDOWS32
FILETYPE		VFT_DLL
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904e4"
		BEGIN
			VALUE	"FileDescription", SCRIPT_LONGNAME "\0"
			VALUE	"FileVersion", SCRIPT_VERSTRING "\0"
			VALUE	"InternalName", SCRIPT_NAME "\0"
			VALUE	"LegalCopyright", "Copyright (C) 2023 " AUTHOR_NAME "\0"
			VALUE	"OriginalFilename", SCRIPT_NAME ".osm" "\0"
			VALUE	"ProductName", SCRIPT_NAME "\0"
			VALUE	"ProductVersion", SCRIPT_VERSTRING "\0"
			VALUE	"DarkGameVersion", "Thief2" "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE	"Translation", 1033, 1252
	END
END

